#### #### #### ####
#### IDEs
#### #### #### ####
**/.vs/
**/.vscode/

**/.idea/

#### #### #### ####
#### Project
#### #### #### ####
node_modules/
dist/
.DS_Store

#### #### #### ####
#### Media exports
#### #### #### ####
*.webm
*.tar
*.mp4
*.gif
